---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import { EncryptionForm } from '@/components/EncryptionForm';
---

<Layout title="Herramienta de Encriptacion y Desencriptación">
	<main>
		<EncryptionForm client:load />
	</main>
</Layout>
