---


---

<layaout title="Acerca de la Aplicación de criptografia" >

    <nav>   
        <ul>
            <li>
                <a href="/inicio">Inicio</a>
                <a href="/about">Mas información</a>
            </li>
        </ul>
    </nav>
                    
</layaout>



<script>

</script>